title{
	color: white;
	font-family: -apple-system, BlinkMacSystemFont, sans-serif;

}
#its-me{
	position: relative;
	top: 10px;
    width: 200px;
    object-fit: cover;
    height: 200px;
    border-radius: 50%;
}
.home{
	height: 100px;
	background-color: black;
}
.nav-black{
	position: fixed;
	padding:20px;
	font-size: 30px;
}
main{
	background-color: #E5E5E5;
	font-family: SF Pro Display;
	font-style: normal;
	font-weight: normal;
}
.nav-link-white{
	color: #FFFFFF;
}
.profile-page{
	background-color: #A22C29;
	height: 300px;
}
.position-center{
	position: relative;
	left: 600px;
	top: 30px;
}
.font-white{
	color: #FEFFEE;
}
.about-me{
	height: 150px;
}
.about-me-text{
	position: relative;
	top: 10px;
	width: 779px;
	height: 83px;
}

.fooheader{
	height: 100px;
}

.Background{
	height: 500px;
	background-color: #0A100D;
}